<!-- put this in a javascript render page... there's a Rails way to do this but not sure what it is yet -->
<script type="text/javascript">
    var tracker = function() {
        var which = 0; // track which section the user's working on
    }
</script>

<h3 class="awesome_project">Do you have an awesome project?</h3>

<%= show_flash %>
<%= error_messages @submission %>
<% form_for @submission, :builder => SubmissionFormBuilder do |f| %>
    <div id="awesomecheckbox">

      <input type="checkbox" onclick="javascript:showOrHideNext(this.parent, this.checked)"> Yes, my project is awesome!

    </div>

    <div id="forminfo"><!-- this must be formatted initially as greyed out -->
        <h4>Great!  Tell us all about it.</h4>

        <div id="contactinfo">
            <p>Let's start out with the basics, like your name, your contact info, etc.</p>

            <p class="input">
                <%= f.contact_info_text_field :name, "Your name" %>
            </p>

            <p class="input">
                <%= f.contact_info_text_field :email, "youremail@address.com" %>
            </p>

            <p class="input">
                <%= f.contact_info_text_field :phone, "Phone #" %>
                <span class="hint">(optional)</span>
            </p>

            <p class="input">
                <%= f.contact_info_text_field :url, "URL" %>
                <span class="hint">(optional)</span>
            </p>
        </div>

        <div id="projectinfo">
            <p>Now, we want all the juicy details about your project.</p>

            <p class="input">
                <%= f.contact_info_text_field :title, "Project Title" %>
                <span class="hint">(optional)</span>
            </p>

            <p class="input">
                <%= f.project_info_text_field :description, "What is your project, and what makes it awesome?" %>
                <span class="hint">(optional)</span>
            </p>

            <p class="input">
                <%= f.project_info_text_field :use, "How would $1000 make the difference?" %>
                <span class="hint">(optional)</span>
            </p>
        </div>

        <p class="input">
            <span class="hint">Select the city nearest to where your project will take place.</span><br/>
            <%= f.select :chapter_id, options_from_collection_for_select(@chapters, :id, :name, @submission.chapter_id), {:include_blank => "- Any -"} %>
        </p>

        <%= f.submit "Submit" %>

    </div>
<% end %>

<% content_for :footer do %>
    <%= javascript_include_tag "jquery.charcounter" %>
    <script>
        $(document).ready(function() {
            $("#submission_title").charCounter(50, {
                container: "#submission_title_counter",
                format: "%1 characters remaining",
                pulse: false,
                delay: 100
            })
            $("#submission_description").charCounter(2500, {
                container: "#submission_description_counter",
                format: "%1 characters remaining",
                pulse: false,
                delay: 100
            })
            $("#submission_use").charCounter(500, {
                container: "#submission_use_counter",
                format: "%1 characters remaining",
                pulse: false,
                delay: 100
            })
        })
    </script>
<% end %>